##For Intellij IDEA 
*.iml
.idea/

##Temp files
*~

## Eclipse IDE
## AutomationWarTank/.project
##AutomationWarTank/.settings/
AutomationWarTank/.bin/
##AutomationWarTank/.classpath
AutomationWarTank/bin/

#main files
/fighterLog.txt
/AutomationWarTank.jar
/bin/
##.project
##.classpath


AutomationWarTank/.settings/.rebel-remote.xml.bak
AutomationWarTank/.settings/.rebel.xml.bak
AutomationWarTank/src/rebel.xml